.app{
    margin-top: 5px;
    .tab-li {
        width: 100%;
        height: 40px;
        background-color: white;
        border: 1px solid #999;
        border-radius: 5%;
        padding: 0 !important;
        margin: 0;
    .nav-link {
        width: 100%;
        text-align: center;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .active {
        font-size: larger;
        border-bottom: 3px solid #999;
        
    }
}

.load {
    position: fixed;
    top: -5px;
    width: 83vw;
}
}